@media screen and(max-height:600px) {
  .header {
    margin-bottom: 0;
    padding-top: 0;
    height: initial;
  }
}

@media screen and(max-height:465px) {
  .header {
    display: none;
  }
  .calculator {
    margin-top: 10px;
  }
} ;
